html {
  font-size: 14px;
}

#home_screen {
    width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: black;
}